/* Part 3: Selectors */

/* 1. Universal Selector */

/* set the color blue for all the HTML elements using universal selector */

* {
  color: blue;
}

/* 2. Element Selector */

/* set the color red for only h1 elements using element selector */

h1 {
  color: red; /* and the priority comes to "element selector" or any "other selector" after universal selector, defining style to other selectors */
}

/* css apply styles line by line */
/* if we define same style after some lines, then last style will preferred */

/* set the color orange to all the "p" elements in the webpage */

p {
  color: orange;

  /* we can change the color */

  color: green;
}

/* set the background-color "purple" and text color "white" for buttons */

button {
  background-color: purple;
  color: white;
}

/* 3. The id selector */

/* define color magenta for para1 */

#para1 {
    color: magenta;
}

/* define color blue for para2 */

#para2 {
    color: blue;
}

/* define color orange for para3 */

#para3 {
    color: orange;
}

/* the above id "#para3" have been given to butons also */
/* 2 - same id "para3" for 2 different elements, see what happen in output */

/* #para3 {
  color: black;
  background-color: gold;
  padding: 5px;
} */
