/* Em Unit of CSS */

/* Em used for font size */

.main-box {
  background-color: red;
  color: white;
  height: 300px;
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;

  /* font size "20px" */
  font-size: 20px;
}

.box1 {
  background-color: greenyellow;
  color: black;
  margin-left: 40px;

  /* jitna font-size main-box ka hai uska doule font-size box 2 ka hoga */
  font-size: 2em;
}

.box2 {
  background-color: greenyellow;
  color: black;
  margin-left: 40px;

  /* jitna font-size main-box ka hai uska 4th times font-size box 2 ka hoga */
  font-size: 4em;
}

.box3 {
  background-color: greenyellow;
  color: black;
  margin-left: 40px;

  /* jitna font-size main-box ka hai uska half times font-size box 3 ka hoga */
  font-size: 0.5em;
}

.main-box2 {
  background-color: red;
  color: white;
  height: 300px;
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;

  font-size: 10px;
}

.box4 {
  background-color: greenyellow;
  color: black;
  margin-left: 40px;

  /* jitna font-size main-box ka hai uska 1 time font-size box 4 ka hoga */

  /* not work */

  font-size: 1em;
}
