/* Part 8 - Box Model */

/* 3 - border */

#text5 {
  background-color: lightsalmon;

  /* now add border */

  border-width: 2px;
  border-style: solid;

  /* change the width of border */

  border-width: 6px;
}

/* define border color */

#text6 {
  background-color: lightpink;

  border-width: 2px;
  border-style: solid;
  border-color: blue;
}

/* change the border style to "dashed" */

#text7 {
  background-color: lightsteelblue;
  border-width: 5px;
  border-style: dotted;
  border-color: blue;
}

/* border short-hand property */

#text8 {
  width: 800px;
  background-color: lightgreen;
  text-align: center;

  /* border short-hand property */

  border: 2px solid black;

  /* change the border */

  border: 8px double red;
}

/* 2. Border Radius */

/* define border radius in "px" */

.box {
  height: 100px;
  width: 100px;
  background-color: lightcoral;
  border: 2px solid red;
  text-align: center;

  /* give border radius */

  border-radius: 10px;
}

/* define border radius in "%" */

.circle {
  height: 100px;
  width: 100px;
  background-color: lightskyblue;
  border: 2px solid blue;
  text-align: center;

  /* give border radius */

  border-radius: 50%;
}
