/* Question 1 */

#box {
  background-color: blue;
  /* color: white; */

  /* use ctrl + / to comment or uncomment in css  */
  /* comments are those lines of code that do not execute */

  /* do comment manually: write anything between below characters */
  /* content content place here */

}

/* Question 2 */

/* method 1 : give style by giving same class to multiple elements */

/* .heading {
    color: red;
} */

/* we can do 1 more thing to give color red to 3 headings h1, h2, h3 */
/* we just comment the above code */
/* and define the same style as above for 3 headings in another way */

/* method 2 : give style by selecting multiple heading elements at once */

h1,
h2,
h3 {
  color: red;
}

/* so we can use multiple and different selectors at once or selects multiple elements using different selectors in css to give the same style */

/* Question 3 */

button {
    background-color: green; 
}

