/* set basic properties to all elements */

* {
  padding: 0;
  margin: 0;
  color: black;
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  height: 55px;
  background-color: #0f1111;
  text-align: center;
  padding: 10px;
}

#logo {
  color: orange;
  font-size: 25px;
}

a {
  text-decoration: none;
  margin-right: 170px;
  color: white;
}

button {
  background-color: orange;
}

/* style for content area boxes */

.box {
  height: 100px;
  width: 100px;
  color: black;
  border: 1px solid black;
  display: inline-block;
  /* margin-top: 10px;
  margin-bottom: 10px; */
}

.box1 {
  background-color: rgba(255, 0, 0, 0.2);
}

.box2 {
  background-color: rgba(255, 0, 0, 0.5);
}

.box3 {
  background-color: rgba(255, 0, 0, 1);
}

/* content area */

.content-area {
  height: 1000px;
}

/* footer */

footer {
  background-color: #0f1111;
  color: white;
  text-align: center;
}
