/* 4 values of text decoration line property */

#first {
  text-decoration-line: underline;
}

#second {
  text-decoration-line: overline;
}

#third {
  text-decoration-line: line-through;
}

#fourth {
  text-decoration-line: none;
}

/* second link wihtout underline */

#link2 {
    text-decoration-line: none;
}