/* set the color for heading */

h1 {
    color: blue;
}

/* set the color for paragraph */

p {
    color: red;
}

/* set the color for button */

button {
    color: purple;
}

/* set the color for links by color picker icon */

a {
    color: rgb(0, 143, 14);
}