/* style for boxes */

.box {
  height: 150px;
  width: 150px;
  text-align: center;
  background-color: rgb(255, 0, 0);
  color: white;
  border: 2px solid black;

  /* margin-bottom: 10px; */
  display: inline-block;
}

.box1 {
  background-color: rgba(255, 0, 0, 0);
  color: black;
}

.box2 {
  background-color: rgba(255, 0, 0, 0.25);
  color: black;
}

.box3 {
  background-color: rgba(255, 0, 0, 0.5);
}

.box4 {
  background-color: rgba(255, 0, 0, 0.75);
}

.box5 {
  background-color: rgba(255, 0, 0, 1);
}
