/* <!-- Question 2: Navbar --> */

/* set basic properties to all elements */

* {
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  height: 55px;
  background-color: #0f1111;
text-align: center;
padding: 10px;
}

#logo {
    color: orange;
    font-size: 25px;
}

a {
    text-decoration: none;
    margin-right: 170px;
}

button {
    background-color: orange;
}